    <div class="bg-gray-100 py-8 xl:py-18 px-4 sm:px-3 lg:px-4 bg-white overflow-hidden">
      <div class="max-w-max lg:max-w-7xl mx-auto">
        <div class="space-y-10">
          <div class="flex flex-col sm:flex-row">
            <div class="mt-6 order-2 sm:mt-0 sm:ml-16">
              <div class="mt-3 space-y-6 text-sm text-gray-600">
                <p>
                    {{comment}} 
                </p>
              </div>
            </div>

            <div class="order-1 flex items-center sm:flex-col sm:items-start">
              <div class="ml-4 sm:ml-0 sm:mt-4">
                <p class="text-sm font-medium text-gray-900">{{author}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    