    <!--Blog Post Section for Handlers -->
    <div class="flex flex-col items-center mt-8">
        <ul role="list" class="space-y-3 w-6/12">
          <li class="bg-white shadow overflow-hidden rounded-md px-6 py-4">
            <!-- Your content -->
            <a href="/blog/{{id}}">
                <h1>{{title}}</h1>
            </a>
            <h2>{{author}}</h2>
            <h3>{{date}}</h3>
          </li>
        </ul>
        
        <!-- Create a Post -->
        <button class="      <div class="mt-8 inline-flex rounded-md shadow">
">
          Add Post
        </button>
      </div>